
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.UserWeather {
    background-color: #881f65;
    background-image: linear-gradient(to right,#912d85 , #691660);
    height: 375px;
    width: 95%;
    max-width: 900px;
    margin: 15vh auto 0 auto;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px -5px rgba(0,0,0,0.75);
}

.WeaterContainer {
    position: relative;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 40px;
}
.desc h1 {
    position: absolute;
    text-align: center;
    top: 50px;
    left: 30%;
    width: 15%;
}
.ws, .ps, .rain, .humid {
    position: absolute;
    top: 170px;
    text-align: center;
    padding: 30px;
    width: 25%;
}

.ps {
    left: 25%;
}
.rain {
    left: 50%;
}
.humid {
    left: 75%;
}

.geo {
    position: absolute;
    bottom: 30px;
    font-size: 1.2rem;
    padding: 5px;
}

.geo .location {
    font-weight: bold;
}

.weatherTemp {
    padding: 30px 0;
    position: absolute;
    width: 40%;
    top: 36px;
}
.weatherTemp h1 {
    display: inline;
}

@media screen and (max-width: 768px) {
    .UserWeather {
        font-size: 85%;
    }
    .geo {
        font-size: 0.9rem;
    }
    .desc h1 {
        left: inherit;
        right: 15%;
        width: 25%;
    }
    .ws {
        left: 0;
    }
    .ps {
        left: 50%;
    }
    .rain {
        left: 0;
        top: 250px;
    }
    .humid {
        left: 50%;
        top: 250px;
    }

    .ws, .ps, .rain, .humid {
        width: 50%;
    }

    .UserWeather {
        height: 450px;
    }
  }
  @media screen and (max-width: 405px) {
      .UserWeather {
          height: 480px;
      }
    }