body {
    background: linear-gradient(to right, #aa076b, #61045f);
    color: white;
    width: 90%;
    margin: 2rem auto;
  }
  @media screen and (min-width: 960px) {
    body {
      width: 50%;
    }
  }
  .UserWeather {
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #fff;
  }
  .WeaterContainer {
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 960px) {
    .WeaterContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'weatherTemp desc empty empty' 'ws ps rain humid';
      grid-gap: 0.5rem;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      position: relative;
    }
    .weatherTemp {
      grid-area: weatherTemp;
    }
    .weatherTemp h1 {
      display: inline;
    }
    .desc {
      grid-area: desc;
    }
    .desc .geo {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .desc .geo .location {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .ws {
      grid-area: ws;
    }
    .ps {
      grid-area: ps;
    }
    .rain {
      grid-area: rain;
    }
    .humid {
      grid-area: humid;
    }
  }
  